*, html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}

@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf");
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

.container-black {
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 200px;
  max-width: 1440px;
  width: calc(100% - 40px);
}

.text-icon {
  font-size: 28px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 70px;
}

.icon {
  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.list-navigation {
  max-width: 720px;
  display: flex;
}

.item-navigation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 74px 76px 76px 0px;
}

.link {
  color: #FFFFFF;
}

.link:hover, .link:active {
  color: #9D8665;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title-container {
  margin-top: 63px;
}

.container-pyramid {
  margin: 0 auto;
  max-width: 1920px;
}

.img-pyramid {
  background-image: url("assets/img/pyramid.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.welcome-content {
  padding-top: 52px;
  color: #FFFFFF;
  height: 700px;
  width: 1440px;
  margin: 0 auto;
}

.welcome-text {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 3px;
  margin-top: 27px;
}

.welcome-button {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  margin-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.welcome-button:hover {
  background-color: #9D8665;
}

.viziting-title-container {
  position: relative;
  margin-top: 72px;
}

.viziting-title-container::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  transition: 0.35s linear;
}


.viziting-container-pictures {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 60px;
  margin-top: 100px;
  margin-bottom: 65px;
}

.viziting-text-h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
}

.viziting-text-h2-container {
  position: relative;
  margin-bottom: 18px;
}

.viziting-text-h2-container::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
  height: 1px;
  width: 300px;
  background-color: #710707;
}

.viziting-text-h2-container:hover::after {
  width: 440px;
  transition: 0.5s linear;
}

.viziting-text-h3 {
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

.viziting-text-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.explore-content {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 75px;
}

.explore-container-title {
  color: #FFFFFF;
  position: relative;
}

.explore-container-title::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  width: 660px;
}

.explore-text-container {
  margin-top: 106px;
}

.explore-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
  margin-top: 25px;
  letter-spacing: 0.7px;
  margin-right: 70px;
}

.explore-img {
  margin-top: 20px;
}

.progress {
  border: solid 2px #82CFD0;
  border-radius: 8px;
  height: 5px;
  width: 1000px;
  outline: none;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.container-progress {
  background-color: black;
}

.player-button:hover, .player-button:active {
  color: #9D8665;
}

.tickets-title-container {
  color: #FFFFFF;
  position: relative;
  padding-top: 73px;
}

.tickets-title-container::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.tickets-content {
  display: flex;
  max-width: 1440px;
  margin-top: 105px;
}

.tickets-type-container {
  color: #FFFFFF;
  margin-left: 60px;
}

.tickets-type-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.tickets-img {
  margin-bottom: 70px;
}

.tickets-type-item {
  margin-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.tickets-radio {
  margin-right: 30px;
}

.tickets-amount {
  color: #FFFFFF;
  margin-left: auto;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tickets-count {
  background-color: black;
  color: #FFFFFF;
  outline: none;
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}

.tickets-button {
  background-color: black;
  color: #FFFFFF;
  border: 0px;
  width: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.tickets-type-amount {
  margin-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.tickets-total {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2.5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tickets-buy-now {
  width: 170px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.tickets-buy-now:hover {
  background-color: #9D8665;
}

.container-amount {
  border: 2px solid #FFFFFF;
  width: 142px;
  height: 45px;
  display: flex;
  margin-bottom: 32px;
  margin-left: auto;
}

.contacts-title-container {
  color: #9D8665;
  margin-top: 75px;
  position: relative;
}

.contacts-title-container::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 115px;
}

.contacts-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  letter-spacing: 1.5px;
}

.contacts-text-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: -15px;
  letter-spacing: 1px;
}

.contacts-map {
  margin-top: -10px;
  margin-bottom: 63px;
}

.footer-content {
  display: flex;
  padding-top: 80px;
  height: 300px;
}

.icon-footer {
  padding-left: 70px;
  background-image: url("assets/svg/logo.svg");
  background-position: left center;
  background-size: 49px 26px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  margin-left: 145px;
  
}

.footer-list-navigation-left, .footer-list-navigation-right {
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 50px;
letter-spacing: 2px;
}
.footer-list-navigation-left {
  margin-right: 173px;
}

.footer-sm {
  margin-top: 87px;
  margin-left: auto;
}

.footer-list-sm {
  display: flex;
}
.footer-list-sm li {
  display: inline;
  margin-left: 24px;
}

.container-item-sm {
  width: 45px;
  height: 45px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.icon-youtube, .icon-instagram, .icon-facebook, .icon-twitter, .icon-pinterest {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-youtube {
  background-image: url("assets/svg/youtube.svg");
}
.icon-instagram {
  background-image: url("assets/svg/instagram.svg");
}
.icon-facebook {
  background-image: url("assets/svg/facebook.svg");
}
.icon-twitter {
  background-image: url("assets/svg/twitter.svg");
}
.icon-pinterest {
  background-image: url("assets/svg/pint.svg");
}

.container-item-sm:hover {
  filter: invert(0.5) sepia(1);
}

